body{
    background-color: #c7b39b;
}

/*tr[ng-click] {*/
[ng-click] {
    cursor: pointer;
}

/*tr[ng-click]:hover {*/
[ng-click]:hover {
    background-color: #9baec6;
}

.pm{
    display: block;
}

.em{
    display: none;
}

/* copypaste from bootstraps form-control*/
.data-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #c7b39b;
    border: 1px;
    color: black;
}

.table-column.table-numeric {
    text-align: right;
    padding-right: 5%;
}

.table-column.table-text {
    text-align: left;
}

.table-column.table-date {
    text-align: right;
    padding-right: 5%;
}

tr.no-borders td, tr.no-borders th {
    border: none;
}

div.centered{
    display: flex;
    align-items:center;
    justify-content:center;

    /*width: 100%;*/
    /*height: 100%;*/
}
.profpic {
    /*object-fit: cover;*/
    /*width: 40%;*/
    /*height: 40%;*/

    width: 50%;
    height: 50%;
}

#error.danger {
    background: #dc3545;
    color: black;
    text-align: center;
    border: none;
    /*padding: 0.25rem 0;*/
    margin: 0.5rem 0;
}