<div class="panel panel-default" ng-init=initAddEmployee()>
    <div>
        <h2>Add Employee</h2>
    </div>

    <script type="text/javascript">
    $(function() {
         $( ".show-calendar" ).datepicker({ dateFormat: 'dd-mm-yy'});
    });
    </script>

    <div id="error" ng-bind="error" class="danger"></div>

    <table class="table">
        <tr colspan=3>
            <!-- <td rowspan="3"> -->
                <!-- <img class="profpic" src='data:image/png;base64, {{e.photo}}' alt="{{e.ename}}"/> -->
                <!-- </div> -->
                <!-- <div class=""> -->
                    <!-- TODO: image upload -->
                    <!-- <input type="file" onchange="previewFile()"><br> -->
                    <!-- <img src="" height="200" alt="Image preview..."> -->
                <!-- </div> -->
            <!-- </td> -->
            <td class="header">
                Name
                <div class="">
                    <input title="First Name" placeholder="First Name" ng-model="e.firstname" class="form-control" required>
                    <input title="Middle Name" placeholder="Middle Name" ng-model="e.middlename" class="form-control" required>
                    <input title="Last Name" placeholder="Last Name" ng-model="e.lastname" class="form-control" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Born
                <!-- TODO data input -->
                <div class=""><input title="Birthdate" ng-model="e.birthdate" class="form-control date-field show-calendar" required></div>
            </td>
        </tr>
        <tr>
            <td>
                Hired
                <div class=""><input title="Hiredate" ng-model="e.hiredate" class="form-control show-calendar date-field" required type="text"></div>
            </td>
        </tr>

        <th colspan=2><h4>Contact Info</h4></th>
        <tr>
            <td colspan=2>
                <h5>Phone</h5>
                <div class=""><input class="phone-field" title="Phone" ng-model="e.phone" class="form-control" required></div>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <h5>Email</h5>
                <div class=""><input title="Email" ng-model="e.email" class="form-control" required></div>
            </td>
        </tr>
        <tr align="center">
            <td colspan=2>
                <button class="btn" ng-click=addEmployee() title="AddEmployee">Add Employee</button>
            </td>
        </tr>
    </table>

    <script>
        apply_calendar()
        apply_masks()
        makeactive($('#employees-nav'))
    </script>

</div>